<!-- BackGround -->
<div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
<!-- //BackGround -->

<!-- Header nav -->
<div id='title'>
    <span>Yena</span>
</div>
<div class="search-bar rounded">
    <form id="search_form" name="search_game" method="post">
        <input class="text-input rounded" type="text" name="title" placeholder="Search Game" size="40" autocomplete="off">
        <select name="category" class="dropdown rounded">
            <option value="all">All</option>
            <option value="action">Action</option>
            <option value="adventure">Adventure</option>
            <option value="casual">Casual</option>
            <option value="indie">Indie</option>
            <option value="multiplayer">Multiplayer</option>
            <option value="mmo">MMO</option>
            <option value="racing">Racing</option>
            <option value="rpg">RPG</option>
            <option value="simulator">Simulator</option>
            <option value="sport">Sport</option>
            <option value="virtualreality">Virtual Reality</option>
        </select>
        <button type="submit" class="primary-button rounded"><i class="fas fa-chevron-right"></i></button>
    </form>
</div>
<!-- //Header -->

<div class="grid" id="games-grid">
    {{#each games}}
    <div class="grid-item game-card">
        <div class="info game-card">
            <div class="game-thumb game-card">
                <img id="thumbnail-img" alt="Nome_Do_Post" src="{{this.img}}" width="100%" height="100%">
                <a href="Nome_Do_Post">
                    <div class="gradient game-card"></div>
                </a>
            </div>
            <div class="info-data">
                <span id="data"><i class="far fa-calendar-alt"></i>{{this.date}}</span>
            </div>
            <a href="Nome_Do_Post">
                <h2 id="name" class="info-title">{{this.title}}</h2>
            </a>
            <div id="categories" class="info-category">
                {{#each this.categories}}
                <span class="category {{this}}">{{this}}</span>
                {{/each}}
            </div>
        </div>
    </div>
    {{/each}}
    <div class="placeholder game-card">
        
    </div>
    <div class="placeholder game-card">

    </div>
</div>

<div id="padding"></div>

<!-- //OLD -->

<!-- Footer -->
<footer class="container">
    <div id="to_top" class="to_top" title="Scroll To Top" style="display: block;"><i class="fa fa-angle-up"></i></div>
</footer>
<!-- //Footer -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="../scripts/handlebars.runtime.js"></script>
<script src="../scripts/templates/templates.js"></script>
<script src="../scripts/utils.js"></script>